
.chart_div{
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    gap: 65px;
    margin-left: 200px;
}

.single_chart{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    text-align: center;
}
