.containerTable {
  margin-top: 4rem;
}

.table {
  width: 100%;
  border-spacing: 0 0.5rem;
  justify-content: center;
}
.table th {
  color: var(--text-body);
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
  line-height: 1.5rem;
}
.table td {
  padding: 1rem 2rem;
  border: 0;
  background: var(--shape);
  color: var(--text-body);
  border-radius: 0.25rem;
}

.table td:first-child {
  color: var(--text-title);
}
.table .expenses {
  color: red;
}
.table .income {
  color: #35fc03;
}

.acoes {
  display: flex;
  gap: 5px;
}

.buttonTest {
  width: 98%;
  padding: 0 1.5rem;
  height: 4rem;
  background: var(--green);
  color: #fff;
  border-radius: 0.25rem;
  border: 0;
  font-size: 1rem;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}
.buttonTest:hover {
  filter: brightness(0.9);
}
.btn-acoes {
  padding: 2px;
  cursor: pointer;
  background-color: gray;
  transition: 0.3s;
  border-radius: 5px;
}
.btn-acoes:hover {
  filter: brightness(0.7);
}
